* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*positioning of primary sections - content*/
.mainContent{
    width: 100%;
    margin: auto;
}

.mainContent{
    width: 80%;
    margin: auto;
}




#headerImage{
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

#banner {
  margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
	height: 500px;
	position: relative;
	clear: both;
	background: transparent url("../images/header-images/IMG_4696-edited-small.png") center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header-images/IMG_4696-edited-small.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header-images/IMG_4696-edited-small.png',sizingMethod='scale')";
}

.wrap-center{
	margin: 0 auto;
	position: relative;
	max-width: 73.231em;
}

.banner-centered {
	text-align: center;
	position: absolute;
	display: block;
	max-width: 75.231em;
	height: inherit;
	overflow: hidden;
	margin-top: 100px;
}

.banner-centered h2 {
	font-size: 5.385em;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fafafa;
	font-weight: 100;
	display: block;
}

/*some old parallax scroll code was taken from here*/

.lightBlue{
    background: whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
}   


 footer p{
    /*width: 80%;*/
    /*margin: auto;*/
    text-align: center;
}
/*end of postion primary sections - content*/

/*div positioning */
#about, #aboutImage{
    width: 49%;
    text-align: justify;
    display: inline-block;
    box-sizing: border-box;
}

/*end of div positioning*/

/*nav bar css*/
nav{
    text-align: right;
    /*margin-top: 1.5%;*/
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #5E3651;
}

nav ul li:nth-child(7) a {
    border-right: none;    
}

#logo{
    float: left;
}
/*end of nav bar css*/


/*text css*/

h1, h2, h3, h4, h5, h6, .jobTitle{
    font-family: 'Glegoo', serif;
}

p, li, form{
    font-family: 'Raleway', sans-serif;
    padding: 1%;
    color: #353535;
}

p{
    display: inline-block;
    line-height: 150%;
}

footer p{
    display: block;
    text-align: center;
}

/*text links css*/

a{
    color: #706881;
    font-family: 'Glegoo', serif;
    text-decoration: none;
}

a:hover { 
    background-color:#00ffff;
}

/*end of text links css*/

/*end of text css*/

/*image css*/

/*img{
    width: 100%;
}*/

.images{
    width: 100%;
    /*border-radius: 50%;*/
    display: inline;
    /*width: 7vw;
    height: 7vw;*/
}

.imagesServices{
    border-radius: 50%;
    display: inline;
    width: 4vw;
    height: 4vw;
}

#profilePic{
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-position: center;
  background-size:100% auto;
  background-repeat: no-repeat;
  padding-top: 1%;
}


footer img{
    width: 25px;
    float: left;
    display: block;
}
/*end of image css*/

.project{
    background-color: hotpink; 
    width: 24.5%;
    display: inline-block; 
}

.icon{
    display: inline-block;
    width: 24.5%;
    background-color: purple;
}

#banner {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    overflow: hidden;
}

.contactForm{
    text-align: center;
}

.icons ul li{
    list-style: none;
    display: inline;
}

/*back to top code*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #5E3651 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 50%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #45283c;
  opacity: 1;
}

/*start of the media query*/

@media screen and (max-width: 780px) {
    /*body {
        background-color: lightgreen rgba(255, 255, 255, 0.05);
        
    }*/

    .icon, .project{
        width: 49%;
    }
}

@media screen and (max-width: 580px) {
    /*body {
        background-color: lightgreen;
    }*/

    .icon, .project{
        width: 100%;
    }

    #logo{
        display: none;
    }
    nav{
        float: left;
        text-align: center;
    }
}

/*end of media query*/
















