* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*positioning of primary sections - content*/
.mainContent{
    width: 100%;
    margin: auto;
}

.mainContent{
    width: 80%;
    margin: auto;
}

.parallax{
    /*height: 150px;
    width: 200px;*/
    background: -webkit-radial-gradient(circle, #ae9aa8, #8e7285, #5E3651); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #ae9aa8, #8e7285, #5E3651); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ae9aa8, #8e7285, #5E3651); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, #ae9aa8, #8e7285, #5E3651); /* Standard syntax (must be last) */
}

.parallax-container {
      height: 500px;
}

.lightBlue{
    background: whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
}   


 footer{
    width: 80%;
    margin: auto;
    text-align: center;
}
/*end of postion primary sections - content*/

/*div positioning */
#about, #aboutImage{
    width: 49%;
    text-align: justify;
    display: inline-block;
    box-sizing: border-box;
}

/*end of div positioning*/

/*nav bar css*/
nav{
    text-align: right;
    /*margin-top: 1.5%;*/
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #5E3651;
}

nav ul li:nth-child(7) a {
    border-right: none;    
}

#logo{
    float: left;
}
/*end of nav bar css*/


/*text css*/

h1, h3, h4, h5, .jobTitle{
    font-family: 'Glegoo', serif;
}

#headerImage{
    text-align: center;
    padding-top: 12%;
    color: white;
}

p, li, form{
    font-family: 'Raleway', sans-serif;
    padding: 1%;
}

p{
    display: inline-block;
}

footer p{
    display: block;
    text-align: right;
}

/*text links css*/

a{
    color: #706881;
    font-family: 'Glegoo', serif;
    text-decoration: none;
}

a:hover { 
    background-color:#00ffff;
}

/*end of text links css*/

/*end of text css*/

/*image css*/

/*img{
    width: 100%;
}*/

.images{
    width: 100%;
    border-radius: 50%;
    display: inline;
    /*width: 7vw;
    height: 7vw;*/
}

.imagesServices{
    border-radius: 50%;
    display: inline;
    width: 4vw;
    height: 4vw;
}

#profilePic{
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-position: center;
  background-size:100% auto;
  background-repeat: no-repeat;
  padding-top: 1%;
}


footer img{
    width: 25px;
    float: right;
    display: block;
}
/*end of image css*/

.project{
    background-color: hotpink; 
    width: 24.5%;
    display: inline-block; 
}

.icon{
    display: inline-block;
    width: 24.5%;
    background-color: purple;
}

#banner {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    overflow: hidden;
}

.contactForm{
    text-align: center;
}

.icons ul li{
    list-style: none;
    display: inline;
}


/*start of the media query*/

@media screen and (max-width: 780px) {
    body {
        background-color: lightgreen;
    }

    .icon, .project{
        width: 49%;
    }
}

@media screen and (max-width: 580px) {
    body {
        background-color: lightgreen;
    }

    .icon, .project{
        width: 100%;
    }

    #logo{
        display: none;
    }
    nav{
        float: left;
        text-align: center;
    }
}

/*end of media query*/