
/*positioning of primary sections content*/
body{
    width: 80%;
    margin: auto;
}

section, #personalInformation, footer{
    width: 80%;
    margin: auto;
}

/*end of postion primary sections content*/

/*nav bar css*/
nav{
    text-align: right;
    margin-top: 1.5%;
}
/*end of nav bar css*/

h1, h3, .jobTitle{
    font-family: 'Glegoo', serif;
}

p, li{
    font-family: 'Raleway', sans-serif;
}

a{
    color: #706881;
    font-family: 'Glegoo', serif;
}

a:hover { 
    background-color:#00ffff;
}


font-family: 'Glegoo', serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Raleway', sans-serif;