
/*positioning of primary sections content*/
.mainContent{
    width: 80%;
    margin: auto;
}

#mainContent{
    width: 80%;
    margin: auto;
}

 footer{
    width: 80%;
    margin: auto;
}
/*end of postion primary sections content*/

/*div positioning */
#about, #aboutImage{
    width: 49%;
    text-align: justify;
    display: inline-block;
}

/*end of div positioning*/

/*nav bar css*/
nav{
    text-align: right;
    margin-top: 1.5%;
}

.logo{
    float: left;
}
/*end of nav bar css*/

/*text css*/

h1, h3, .jobTitle{
    font-family: 'Glegoo', serif;
}

p, li, form{
    font-family: 'Raleway', sans-serif;
}

/*text links css*/

a{
    color: #706881;
    font-family: 'Glegoo', serif;
    text-decoration: none;
}

a:hover { 
    background-color:#00ffff;
}

/*end of text links css*/

/*end of text css*/

img{
    width: 100%;
}
