
/*positioning of primary sections content*/


.mainContent{
    width: 80%;
    margin: auto;
}

#mainContent{
    width: 80%;
    margin: auto;
}

 footer{
    width: 80%;
    margin: auto;
}

/*end of postion primary sections content*/

/*nav bar css*/
nav{
    text-align: right;
    margin-top: 1.5%;
}

.logo{
    float: left;
}
/*end of nav bar css*/

h1, h3, .jobTitle{
    font-family: 'Glegoo', serif;
}

p, li, form{
    font-family: 'Raleway', sans-serif;
}

a{
    color: #706881;
    font-family: 'Glegoo', serif;
    text-decoration: none;
}

a:hover { 
    background-color:#00ffff;
}

img{
    width: 100%;
}